<div class="row marketing">
	<h4>Lokacija</h4>
	<p>
		<img src="images/balans01.jpg" class="img-thumbnail" alt="Balnas teniski tereni">
	</p>
	<p>
		<strong>Teniski klub Balans</strong> nalazi se u Zemunu, na uglu Novosadskog auto puta i ul. Mala pruga.
	</p>

	<h4>Tereni</h4>
	<p>
		<img src="images/balans-nocu.jpg" class="img-thumbnail" alt="Balnas teniski tereni nocni snimak">
	</p>
	<p>
		Klub poseduje dva terena čija je podloga od šljake, sa reflektorskim osvetljenjem. U zimskom periodu tereni su pokriveni balonom tako da je omogućeno korišćenje istih tokom cele godine.
	</p>

	<h4>Istorijat</h4>
	<p>
		Sa radom smo počeli septembra 2011. godine i cilj nam je da ostvarimo visok nivo profesionalnosti.
	</p>

	<p>
		U klubu postoji i škola tenisa za odrasle koji mogu svoje termine prilagođavati prema svojim potrebama i slobodnom vremenu.
	</p>

	<p>
		Balans T.K. daje svoj doprinos razvitku sportskog duha i stvaranju novih generacija uspešnih srpskih tenisera.
	</p>

</div>
