<div class="row marketing">
	<h4>Kontakt</h4>
	<p>
		<b>Adresa:</b> Mala pruga 39a (preko puta Metroa i Zemun parka), Zemun<br />

		<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"> <span itemprop="locality" style="display:none;">Beograd</span></span>

		<b>Telefon:</b> 069/751-761, 011/4124-695<br />
		<b>E-mail: </b><a href='mailto:balans.tk@gmail.com' >balans.tk@gmail.com</a><br />

		<b>Sajt: </b><a href='http://www.balans.rs' target='_blank' >www.balans.rs</a>								
	</p>	
</div>