

<div class="row marketing">
  <h4>Osnovne informacije</h4>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="i in [1,2,3]">
      <img src="images/balans0{{i}}.png" alt="balans tereni" class="img-thumbnail">
      <p class="visible-xs visible-sm"></p>
    </div>
  </div> 
  <p>
    Teneski klub poseduje dva terena i osvetljenje što omogućava korišćenje terena u večernjim terminima.
  </p>

  <h4>Radno vreme - termini</h4>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="i in [4,5,6]">
      <img src="images/balans0{{i}}.png" alt="balans tereni" class="img-thumbnail">
      <p class="visible-xs visible-sm"></p>
    </div>
  </div> 
  <p>
    Termini se zakazuju a raspoložive termine možete saznati na pozivom na broj 069/751-761, 011/4124-695.
  </p>

  <h4>Restoran</h4>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="i in [7,8,9]">
      <img src="images/balans0{{i}}.png" alt="balans tereni" class="img-thumbnail">
      <p class="visible-xs visible-sm"></p>
    </div>
  </div>   
  <p>Teniski klub poseduje restoran...</p>


</div>
